<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark navbar-top fixed-top">
  <a class="navbar-brand" href="/dashboard"><img src="/assets/logoo.png" width="150" height="70" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
      
      <div class="container" id="pays">
        <h2 align="left">Select Payment method: </h2>
          <div class="row" align="center">
         <%= form_tag payment_checkout_index_path do %>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="A month's subscription"
                data-amount="<%= @sub_total %>"
                data-locale="auto"></script>
        <% end %>
                      
        <%= button_to 'Cash On delivery' ,payment_checkout_index_path, class: 'btn btn-success' %>
      </div>
    </div>
      <script type="text/javascript">
                $(document).ready(function(){
                    $(".stripe-button-el span").remove();
                        $("button.stripe-button-el").removeAttr('style').css({
                            "display-inline":"block", 
                            "padding":"3px",
                            "background":"#5ba846",
                             "margin-right": "20px",
                            "color":"white",
                            "font-size":"1.2em" }).html("Pay with Card");
                    });
          </script>