<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark navbar-top fixed-top">
  <a class="navbar-brand" href="/products"><img src="/assets/logoo.png" width="150" height="70" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
      <div class="container", id="show" align="center">
      	<div class="row">
      		
			<div class="col-12">
			 <strong>	<label>  CategoryName:</label></strong>
			     <%= @category.title %>
			 </div>
			 <div class="col-12">			
			    <strong>	<label>CategoryDescription:</label> </strong>
			    	<%= @category.description %>
			  </div>
			  <div class="col-12">
            <img src="<%= @category.image%>"> 
         </div>
			</div>
	  </div>